// STORM ID RESET STYLES
// Based on Meyer Reset, HTML5 Boilerplate, Normalize.css and more
// Updated: April 2014


// BETTER BOX MODEL. SUPPORTED IN DECENT BROWSERS AND IE8+. POLYFILL FOR IE7
//=========================================================================


* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
} 

// RESET LOADS OF STUFF
// ====================

// Set background colour in case user-styles use a different colour
html, 
body {
    background: #fff;
}

// Stop unwanted automatic text resizing on some mobile devices
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// Override defaults on all elements
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, main {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

// Display block on HTML5 elements
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { 
    display:block;
}

// STANDARDISE THE STYLE OF COMMON ELEMENTS
// ========================================

* {
    text-rendering: optimizeLegibility;
}

strong, 
b {
    font-weight:bold;
}

em, 
i {
    font-style:italic;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

mark {
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

dfn {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td { 
    vertical-align: top; 
}

hr {
    border: 0;
    display: block;
    height: 1px; 
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}


// 1. Corrects color not being inherited in IE6/7/8/9
// 2. Corrects text not wrapping in FF3 
legend {
    border: 0; // 1
    padding: 0;
    white-space: normal; // 2
}

// Addresses margin not present in IE6/7/8/9, S5, O11
figure {
    margin: 0;
}

// Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
[hidden] {
    display: none;
}

// Prevents sub and sup affecting line-height in all browsers
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// IMAGES
// ======

// Improve image quality when scaled in IE7 / Remove the gap between images and borders on image containers: h5bp.com/i/440
img { 
    border: 0;
    vertical-align: middle; 
}

// HYPERLINKS
// ==========

// Improves readability when focused and also mouse hovered in all browsers
a {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    outline: 0;
    text-decoration: none;
}

// Addresses outline displayed oddly in Chrome
a:focus {
    outline: thin dotted;
}

// CODE BLOCKS ETC
// ===============

// Standardise code blocks
pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    line-height: 100%;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

// FORM ELEMENTS
// =============

// Remove default appearance from inputs
input, 
button, 
select {
    border: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

// Remove default appearance from search inputs in Webkit
input[type="search"] {
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="checkbox"] {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// Remove inner padding and border in FF3/4: h5bp.com/l
button::-moz-focus-inner, 
input::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
}

// 1. Corrects font size not being inherited in all browsers
// 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// 3. Improves appearance and consistency in all browsers
// 4. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
button,
input,
select,
textarea {
    font-size: 100%; // 1
    line-height: normal; // 4
    margin: 0; // 2
    vertical-align: baseline; // 3
}

// 1. Improves usability and consistency of cursor style between image-type 'input' and others
// 2. Corrects inability to style clickable 'input' types in iOS
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; // 1
    -webkit-appearance: button; // 2
}

// Re-set default cursor for disabled elements
button[disabled],
input[disabled] {
    cursor: default;
} 

// 1. Remove default vertical scrollbar in IE6/7/8/9
// 2. Allow only vertical resizing
textarea { 
    overflow: auto; 
    vertical-align: top; 
    resize: vertical; 
}

textarea:hover, 
textarea:active, 
textarea:focus {
    outline: none;
}

// CLEARFIX 
// ========
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}